body{
background-color: black;
width: auto;


}
#title {
color: black;
text-transform: uppercase;
}
#title {
font-size: 16px;
font-style: italic;
}
.post{
    background-color: beige;
padding: 10px;
border: 3px  black;
border-radius: 10px 20px 30px 40px;
background-color: rgb(124, 39, 124);
}
.image {
width: 100%;
border-radius: 10px 20px 30px 40px;;
  }
.perfilprofissional {
    color: black;
text-transform: capitalize;
}
.COMPETENCIAS {
    color: black;
    font-weight: bold;
}
.IDIOMAS {
    color: black;
    font-weight: bold;
}
.EDUCAÇAO {
color: black;
font-weight: bold;
}
.EXPERIENCIA {
    color: black;
    font-weight: bold;
}
.rodape{
    font-weight: bold;
}